# PostgreSQL
POSTGRES_USER=app_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=tech_smysl
POSTGRES_PORT=5433
DATABASE_URL="postgresql://app_user:change-me@localhost:5433/tech_smysl?schema=public"

# Redis
REDIS_URL="redis://:change-me@localhost:6379"
REDIS_PASSWORD="change-me"
REDIS_PORT=6380

# Auth
JWT_SECRET="change-me-64-char-hex"

# Public
NEXT_PUBLIC_BASE_URL="http://localhost:3001"

# Seed
DEFAULT_ADMIN_EMAIL="admin@techsmysl.ru"
DEFAULT_ADMIN_PASSWORD="change-me"
